<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <footer>
        <div class="footer__navigation">
          <ul class="nav">
            <li>Help</li>
            <li><a routerLink="/contact">Contacteer ons</a></li>
          </ul>
          <ul class="nav">
            <li>Kopen & Verkopen</li>
            <li><a routerLink="/veilingen">Apple</a></li>
            <li><a routerLink="/veilingen">Samsung</a></li>
            <li><a routerLink="/veilingen">OnePlus</a></li>
            <li><a routerLink="/veilingen">Acer</a></li>
            <li><a routerLink="/veilingen">Zoekertje plaatsen</a></li>
          </ul>
          <ul class="nav">
            <li>Mijn profiel</li>
            <li>Registreren</li>
            <li>Inloggen</li>
            <li>Profiel bekijken</li>
            <li>Mijn veilingen</li>
          </ul>
          <ul class="nav">
            <li>Wettelijk</li>
            <li><a routerLink="/cookiebeleid">Cookie-beleid</a></li>
            <li><a routerLink="/voorwaarden">Servicevoorwaarden</a></li>
            <li><a routerLink="/gdpr">GDPR</a></li>
          </ul>  
        </div>
        <div class="footer__title">
          <h2>ThePhoneMarket</h2>
        </div>
      </footer>
    </div>
  </div>
</div>
