.search {
    position: relative;
    border-radius: 5px;
    border: 1px solid #DDD;

    & > img {
        position: absolute;
        width: 16px;
        top: 16px;
        left: 16px;
    }

    & > input {
            width: calc(100% - 52px);
            border: none;
            margin-left: 48px;
            padding: 0.5rem 0;
            font-size: 16px;
            color: #72707D;
    
        &:focus {
            outline: none;
        }
    }
}



