<app-header></app-header>
<div class="container">
  <div class="contact">
    <h1>Contacteer ons</h1>
    <p>Heeft u meerdere vragen? Aarzel dan niet om ons te contacteren</p>
    <form class="contact__form">
      <input type="e-mail" name="email" placeholder="E-mail">
      <input type="text" name="subject" placeholder="Onderwerp">
      <textarea placeholder="Beschrijving" rows="5"></textarea>
      <button type="submit" class="btn">Versturen</button>
    </form>
  </div>
</div>
<app-footer></app-footer>