<ng-container *ngIf="auctions">
  <div class="card" *ngFor="let auction of auctions.data; let i=index">
    <a routerLink="/veilingen/{{ auction.id }}" *ngIf="i<4">
      <figure>
        <img src="assets/images/i6.png" placeholder="placeholder">
      </figure>
      <div class="card__content">
        <div class="card__title">
          <h4 class="slug">{{ auction.user.firstname + ' ' + auction.user.lastname }}</h4>
          <h3>{{ auction.title }}</h3>
        </div>
        <div class="card__meta">
          <h3 class="card__timer">
            {{ auction.timer | date:'h:mm:ss'}}
          </h3>
          <h3 class="card__price">
            {{ auction.price | currency:'EUR' }}
          </h3>
        </div>
      </div>
    </a>
  </div>
</ng-container>