@import '../../../sass/abstracts/_variables.scss';

.card {
    width: 100%;
    max-width: 328px;
    overflow: hidden;
    flex: 1 0 calc(25% - 1rem);
    margin: 0.5rem;
    
    background-color: $white;
    border-radius: $radius-standard;
    

    & figure {
        width: 100%;
        max-height: 350px;
        overflow: hidden;
        
        & > img {
            display: block;
            width: 100%;
        }
    }

    & .card__content {
        padding: 1.5rem; 
        height: 165px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        overflow: hidden;
        border-bottom: 15px solid $primary;

        .card__meta {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; 
    
            & > .card__timer {
                color: $text-darkest;
            }
    
            & > .card__price {
                color: $primary;
            }
        }
    }
    
}