$primary: rgba(12, 70, 104, 0.829);
$secondary: #F7F8FA;
$white: #FFF;

$text-darkest: #0C0A14;
$text-dark: #1D1A33;
$text-color: #707070;
$text-light: #B7B6BF;

$text-font: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', sans-serif;

$radius-standard: 5px;