.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 1 auto;

    box-sizing: border-box;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}