@import
  "1-abstracts/functions",
  "1-abstracts/variables",
  "2-base/fonts",
  "2-base/reset",
  "3-components/tables";

body {
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
}