@import '../../../sass/abstracts/_variables.scss';

.services__wrapper {
    max-width: 960px;
    width: 100%;
    display: flex;
    margin: 2rem auto;

    .services__side-nav {
        text-align: right;

        & > ul {
            list-style: none;
            margin: 0rem 1rem;
            line-height: 2;
        }
    }

    .services__content {
        padding: 1rem;
        background: $white;
        border-radius: $radius-standard;
        border-top: 7px solid $primary;
        color: #707070;
        line-height: 1.5;
    }
}

p {
    margin: 0 0 1rem 0;
}

h3 {
    margin: 0.5rem 0;
}

h1 {
    margin: 0 0 1rem 0;
}