<app-header></app-header>
<div class="container">
  <div class="services__wrapper">
    <div class="services__side-nav">
      <ul>
        <li><a routerLink="/gdpr">GDPR</a></li>
        <li><a routerLink="/cookiebeleid">Cookie-beleid</a></li>
        <li><a routerLink="/voorwaarden" routerLinkActive="active">Servicevoorwaarden</a></li>  
      </ul>
    </div>
    <div class="services__content">
      <h1>Servicevoorwaarden</h1>
      
      <p>Your access to and use of the Service is conditional on your acceptance of the terms and conditions. These Terms apply to all visitors, users and others who use or use the Service.</p>
      
      <p>By accessing or using the Service you agree to these terms. If you disagree with any part of the terms then you may not have access to the Service. This Terms of Service agreement for ThePhoneMarket based on Terms of Service.</p>
      
      <h3>Accounts</h3>
      <p>When you create an account with us, you must provide information that is accurate, complete, and current at all times. Failure to comply with the Terms of Service, which may result in immediate termination of your account on our Service.</p>
      
      <p>You are responsible for safeguarding the password. You are responsible for all activities or actions under your password, or your password is with our Service or a third-party service.</p>
      
      <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
      
      <h3>Links To Other Web Sites</h3>
      <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by ThePhoneMarket.
      
      <p>ThePhoneMarket has no control over, and responsibility for, the content, privacy policies, or practices of any third party web sites or services. You must acknowledge and agree that you shall not be liable for any damage or loss, or damage or loss. any such web sites or services.</p>
      
      <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>
      
      <h3>Termination</h3>
      <p>We may terminate or suspend our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
      
      <p>All provisions of the terms and conditions must be survive, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
      
      <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
      
      <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>
      
      <p>All provisions of the terms and conditions must be survive, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
      
      <h3>Governing Law</h3>
      <p>These terms are construed and construed in accordance with the laws of Belgium.</p>
      
      <p>Our failure to enforce any right or provision of theses. If any provision of these Terms is held to be invalid or unenforceable by the court, the remaining provisions of these Terms will remain in effect. These Terms and Conditions are a complete agreement between us regarding our Service, and supersede and replace any prior agreements.</p>
      
      <h3>Changes</h3>
      <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
      
      <p>You are effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
      
      <h3>Contact Us</h3>
      <p>If you have any questions about these Terms, please contact us.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>