<app-header></app-header>
<div class="container">
  <div class="login">
    <h1>Inloggen</h1>
    <p>Heb je nog geen account? <span>Registeren</span></p>
    <form class="login__form">
      <input type="e-mail" name="email" placeholder="E-mail">
      <input type="password" name="password" placeholder="Wachtwoord">
      <button type="submit" class="btn">Inloggen</button>
    </form>
    <div class="login__options">
      <div class="login__options-checkbox">
        <input type="checkbox" name="remember"> Onthouden
      </div>
      <a>Wachtwoord vergeten?</a>
    </div>
    <div class="login__social">
      <div class="row">
          <a class="btn btn-social">Facebook</a>
          <a class="btn btn-social">Google</a>
      </div>
    </div>
  </div>
</div>