body {
    font-family: $text-font;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $text-font;
}

h1 {
    color: $text-dark;
    font-size: 40px;
    font-weight: 700;
}

h2 {
    color: $primary;
    font-size: 36px;
    font-weight: 700;
}

h3 {
    color: $text-dark;
    font-size: 24px;
    font-weight: 700;
}

h4 {
    color: $text-light;
    font-size: 14px;
    font-weight: 700;

    &.slug {
        text-transform: uppercase;
    }
}

p {
    color: $text-color;
    line-height: 1.5;
    margin: 0.5rem 0;
}

a {
    text-decoration: none;
    color: #9AA7A7;
}